:root {
    --font-body: 'Helvetica Neue', sans-serif;
    --font-heading: 'Helvetica Neue', sans-serif;

    --color-bg: #f1ebe7;
    --color-fg: #1a1a1a;
    --color-accent: #333;
    --color-muted: #666;
    --color-contrast: #0177FF;
    --color-contrast-light: #80BBFF;
    --color-complement: #ff7701;
    --color-contrast-opacity: rgb(1, 119, 255, .5);

    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
}


.martian-mono { font-family: "Martian Mono", monospace;font-optical-sizing: auto;font-weight: 200;font-style: normal;
    font-variation-settings: "wdth" 100;}

body {
    margin: 0;
    padding: 0 var(--spacing-m) var(--spacing-m);
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-fg);
    /*background-color: var(--color-bg);*/
    background-color: var(--color-contrast-opacity);
    line-height: 1.6;
    max-width: 960px;
    margin-inline: auto;
    /*font-size: 15px;*/
}

h1, h2, h3 {
    font-family: var(--font-heading);
    margin: var(--spacing-m) 0 var(--spacing-s);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.2px
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
    margin-top: var(--spacing-m);
    /*color: var(--color-complement);*/
    color: #333;
}

p {
    margin-bottom: var(--spacing-m);
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
.text-with-icon svg {vertical-align: top; margin-right: .4em; filter: drop-shadow(2px 2px var(--color-complement)) drop-shadow(-2px 2px 4px green);}
.title .side-infos {font-weight: normal; font-size: 80%; white-space: nowrap}
button.link {border: none; background: none; cursor: pointer}
.block-link {color: inherit; display: block}
.block-link:hover {color: inherit; text-decoration: inherit;}

.cards-scroller {overflow-x: auto; scroll-snap-type: x mandatory; scroll-behavior: smooth; width: 100%; display: flex;}
.cards-scroller .card {width: 100%; flex-shrink: 0; scroll-snap-align: start; padding: 1em; border-radius: .5em;
    box-sizing: border-box}
.cards-scroller-titles {display: flex;    align-items: baseline; column-gap: 4vw;flex-wrap: wrap;
    margin: var(--spacing-m) 0 var(--spacing-s);}
.cards-scroller-titles .card-title {opacity: .5; cursor: pointer; transition: opacity .2s; margin: 0}
.cards-scroller-titles .card-title.active {opacity: 1;}
.cards-scroller .card>.section-content {padding-left: 0}

#navbar { margin: 0; /*border-color: #222; border-style: solid; border-width: 1px 0;*/ border-radius: 0 0 .5em .5em;
    padding: 0 ; background-color: #222; position: sticky; top: 0;z-index: 10; /*font-size: 14px*/ overflow: hidden;}
#navbar ul {display: flex;flex-wrap: wrap;column-gap: 3em;padding: 0 var(--spacing-l);list-style: none;
    margin: 0;justify-content: left; align-items: center;}
#navbar .link {letter-spacing: -.5px;font-weight: 500;padding: var(--spacing-s) 0;border-radius: 4px;
    color: #e1e1e1; display: inline-block; transition: transform .2s;}
#navbar .link:hover,
#navbar .link:focus,
#navbar .link.active {text-decoration: none; /*color:var(--color-contrast-light);*/
    transition: color .2s ease;
}
    #navbar .link:hover,
    #navbar .link:focus {  text-shadow: 0 0 1px var(--color-contrast) }
/*#navbar .link:hover,
#navbar .link:focus {color: black;}*/
#navbar .link:hover span,
#navbar .link:focus span,
#navbar .link.active span {opacity: .8;}
    /*transform: scale(1.1);vertical-align: middle;*/
#navbar-toggler {display: none}

/*-- Anim background mobile / soulignement */
#navbar .link  {position: relative;display: inline-block;text-decoration: none; }
#navbar a.link::after {content: "";position: absolute;left: 50%; margin-left: 0;
    bottom: 0;height:  0 ;background: var(--color-contrast-light);
    transition: margin-left 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
    z-index: 1; border-radius: 104px 104px 0 0; width: 0; }
#navbar a.link:hover::after,
#navbar a.link:focus::after{/*height: 13px; width: 26px; margin-left: -13px;*/
    /*height: 39px;    width: 78px;    margin-left: -39px;*/
    height: 80px;
        width: 160px;
        margin-left: -80px;}
#navbar a.link.active::after {
    height: 10px; width: 20px; margin-left: -10px;
}

#navbar .link span {z-index: 2; position: relative; /*background: #222;*/}

.breadcrumbs {display: flex; color: #555; padding: .8em 1em; margin: 0; font-size: 80%; text-transform: capitalize;
    white-space: nowrap;/*border-bottom: 1px solid #CCC*/}
.breadcrumbs a {opacity: .5 }
.breadcrumbs .home svg {vertical-align: middle}
.breadcrumbs li:not(:last-of-type):after {content: ' / '; margin-right: 5px }
.breadcrumbs li:last-of-type {color: black}


#main {/*background: white;     padding: 0 1em 1em; border-radius: .5em;    border-top: 1px solid #CCC;*/}

.tech li {display: inline-block; background: #333; color: #EEE; border-radius: 5px; padding: 3px 10px;
    margin-right: 5px; margin-bottom: 2px; font-family: "Martian Mono", monospace; font-size: 70% }
.tech.important li {font-size: 90% }
.tech li.etc {background: none;    color: black; font-family: inherit;}

.features {background-color: #f0f0f0;    padding: var(--spacing-s) var(--spacing-m);    border-left: 3px solid var(--color-accent);
    margin-bottom: var(--spacing-m);}

.weak {font-size: 80%; font-weight: normal;}

#main-header {display: flex; height: 100px; border-radius: .5em .5em 0 0; overflow: hidden; margin-top: .5em}
#main-header img {height: 100%; width: auto}
#main-header h1 {margin-left: .5em}
#main-header .subtitle {display: block; font-size: 80% }

.timed-item {display: flex; margin-bottom: .5em;}
.timed-item .date {width: 7rem; flex-shrink: 0;}
.timed-item .title {margin: 0}

.about-grid{display: grid;    grid-template-columns: 1.8fr 1.2fr; grid-gap: 2em; grid-template-rows: 1fr 1fr}
.about-grid .secondary-skills {grid-column: 2; grid-row: 2}
.about-grid .presentation {grid-column: 1; grid-row-start: 1; grid-row-end: 3}

.projets-list {display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); grid-column-gap: .5rem; grid-row-gap: 1rem; }
.projets-list .project-item {}

.project-item h2 {margin: .5em 0 0}

.project-item .image-container {clip-path: circle(100% at 50% 50%); transition: clip-path .5s ease; overflow: hidden}
.project-item:hover .image-container {clip-path: circle(43% at 33% 50%);}
.project-item .project-image {    aspect-ratio: 1.78;width: 100%;height: fit-content;filter: saturate(1.4);object-fit: cover;
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);*/ transition:  .5s ease;transform-origin: 0 0;
    display: block; }

.project-item:hover .project-image {
    transform: scale(1.3);
    /*clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);*/

    /*clip-path: polygon(0% 100%, 0% 0%, 10% 0%, 10% 10%, 20% 10%, 20% 20%, 30% 20%, 30% 30%, 40% 30%, 40% 40%, 50% 40%, 50% 50%, 60% 50%, 60% 60%, 70% 60%, 70% 70%, 80% 70%, 80% 80%, 90% 80%, 90% 90%, 100% 90%, 100% 100%);*/
    /*clip-path:  polygon(
            0% 100%, 0% 0%,
            55% 0%, 55% 10%,
            60% 10%, 60% 20%,
            65% 20%, 65% 30%,
            70% 30%, 70% 40%,
            75% 40%, 75% 50%,
            80% 50%, 80% 60%,
            85% 60%, 85% 70%,
            90% 70%, 90% 80%,
            95% 80%, 95% 90%,
            100% 90%, 100% 100%
    );*/
}

.project-item .description {margin: .5em 0}

.project .category {display: inline-block; background: var(--color-complement); color: white; border-radius: 5px;
    margin-right: 5px; margin-bottom: 2px; font-size: .8rem; font-weight: normal;letter-spacing: 0; padding: 3px 10px;
    vertical-align: text-bottom; margin-left: 1em;}
.single-project .gallery ul {display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); grid-column-gap: 1rem;
    grid-row-gap: 1rem;}
.single-project .title .side-infos {font-size: 60%;}
.single-project .title .side-infos svg {vertical-align: bottom;}
.single-project .title .link:hover {filter: drop-shadow(2px 2px var(--color-complement)) drop-shadow(-2px 2px 4px green);}
.single-project .title .link {vertical-align: bottom; margin-left: .5em}
.single-project .tech h3 {display: none}
.single-project .features li {list-style: inside disc; }

.skills-list .tech {display: flex}
.skills-list .tech strong {width: 7em; flex-shrink: 0;}

.skills-list  {display: grid;   grid-template-columns: 1fr 1fr;  grid-auto-rows: auto; grid-column-gap: 2em; margin-bottom: 1.5em}
.skills-list .level-section.level-expertise {  grid-column-start: 1 ; grid-column-end: 3;}
.skills-list .level-section.level-expertise .tech li {font-size:90%}
.skills-list .level-section:not(.level-expertise) strong { opacity: .6;}
.skills-list .level-section:not(.level-expertise) h2 {font-size: 1.2rem; margin-top: 1.2em;}
.skills-list .level-section:not(.level-expertise) .tech li {background-color: rgba(0, 0, 0, .5); font-size:70%}

.skills-list .level-section.level-bases {grid-column: 1 ; grid-row: 3; }
.skills-list .level-section.level-outils_annexes {grid-column: 2 ; grid-row-start: 2; grid-row-end: 4}
.skills-list .tech-category {margin-bottom: 4px}

.wrap-link {cursor: pointer}

.hidden {display: none}

.section-content {padding-left: 2em}

.modal {display: flex; align-items: center;  justify-content: center;}
.modal {    background-color: var(--color-contrast) }
.modal img {  outline: none}

.MuiBackdrop-root {z-index: 5}

#locale-menu {/*position: absolute; */    right: 10px; margin-left: auto; /*margin-right: 10px*/}
#locale-menu button {border: none; background: none; /*position: absolute; right: 0; top: 0*/ color: #ccc;
    text-transform: uppercase; font-weight: 100; display: inline-block}

.mobile-only {display: none}


@media (max-width: 900px) {
    .projets-list {grid-template-columns: repeat(2, 1fr);}
    #main-header .subtitle {font-size: 50%}
    #navbar{font-size: 80%}
    #navbar ul{column-gap: 2.5em; padding: 0 var(--spacing-m);}
    .about-grid{ display: block}
    .mobile-only {display: initial}
    .no-mobile {display: none}
}

@media (max-width: 600px) {
    #main-header h1 {margin-top: 5px}
    #main-header .title {}

    body {
        padding: var(--spacing-s);
        padding-top: 0;
    }

    #navbar { left: 0;top: .6em; border-radius: 0; background: none; border: none;
        position: fixed;}
    #navbar.open {background: black; width: 100%; }

    #navbar-toggler {display: block; background: var(--color-contrast-light); border: none; /*top: .6em;*/ right: 0;
        height: 100px; /* opacity: .9; */width: 80px; position: relative; border-radius: .5em 4em 4em 0;}
    #navbar.open #navbar-toggler{background: none; color: white; padding-left: var(--spacing-m)}
    /*#navbar-toggler {display: none}*/
    #navbar ul {flex-direction: column; display: none; padding-bottom: 1em;   }
    #navbar a {display: block}
    #navbar.open ul {display: flex}
    #navbar a.link::after {display: none}

    .projets-list {grid-template-columns: repeat(1, 1fr);}

    .skills-list  {display: block;}
    .skills-list .tech {display: block}
    .skills-list .tech strong {display: block; margin: 1em 0 .5em}


}

@media (max-width: 400px) {
    #main-header h1 {margin-top: 0px; margin-left: .3em; font-size: 1.40em}
    #main-header .title {}
    #main-header .subtitle {font-size: 70%}
    #main-header {height: 70px}
    #navbar-toggler {height: 78px; width: 60px;}
    .timed-item {display: block; margin-bottom: 1em;}

    .breadcrumbs {padding-left: 0}

    .cards-scroller .card{padding: 2vw}
}